#myCssStyle {
  background: red;
}
#MyCssStyle {
  background: cyan;
}
#Yeet {
  background: magenta;
  color: blue;
}
#something {
  background: greenyellow;
}
#yayeet {
  color:purple;
  font-family: trebuchet MS;
}
